body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 5px 15px 0 rgba(0,1,1,0.2);
}

.main-navigation {
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.nav-selected {
  color: #766357;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -71px;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation a {
  font-weight: 700;
  color: inherit;
}

.site-navigation li {
  flex-basis: 239px;
}

.site-navigation li:nth-child(4n + 1) {
  padding-left: 32px;
  text-align: left;
}

.site-navigation li:nth-child(4n + 2) {
  text-align: left;
}

.site-navigation li:nth-child(4n + 3) {
  text-align: right;
  margin-left: 95px;
}

.site-navigation li:nth-child(4n + 4) {
  margin-left: 5px;
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.main-header-logo {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 71px;
}

.welcome-sedona {
  background-image: url("../img/bg/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center -56px;
  height: 508px;
  background-color: #3f86b0;
  background-size: cover;
  text-align: center;
}

.welcome-sedona img {
  margin-top: 76px;
  width: 459px;
  height: 353px;
}

.about-sedona {
  text-align: center;
  background-color: #ffffff;
  padding-top: 61px;
  padding-bottom: 56px;
}

.about-sedona h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
}

.about-sedona p {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-search {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 57px;
  background-color: #ffffff;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hotel-search p {
  line-height: 24px;
  font-weight: 400;
}

.search-form {
  position: absolute;
  background-color: #ffffff;
  text-align: left;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.hotel-search label {
  font-weight: 700;
}

.hotel-search input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  outline: none;   /* убрала голубую "браузерную" обводку пока элемент в фокусе*/
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.hotel-search input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.brown-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 27px;
  margin-left: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.brown-button-big {
  font-size: 21px;
}

.blue-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 27px;
  padding-left: 17px;
  padding-right: 17px;
}

.blue-button-big {
  font-size: 21px;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 36px;
  padding-bottom: 32px;
  padding-left: 132px;
  padding-right: 101px;
  background-color: rgba(254, 254, 254, 0.9);
  min-height: 50px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  width: 350px;
  margin: 0;
  margin-right: 169px;
  /* Временно для сетки */
  background-color: rgba(155, 55, 0, 0.3);
}

.footer-contacts a {
  color: #000000;
}

.footer-social {
  text-align: center;
  width: 200px;
  align-self: center;
  /* Временно для сетки*/
  background-color: rgba(155, 10, 150, 0.3);
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  margin: 0;
  width: 300px;
  margin-left: 228px;
  text-align: center;
  align-self: center;
  /* Временно для сетки */
  background-color: rgba(15, 1, 1, 0.3);
}

.index-footer {
  position: absolute;
  top: 3000px;
  width: 968px;
}

/* Для страницы sedona-hotels*/
.description-hotel .name-hotel{
  color: #000000;
}

.description-hotel a:hover,
.description-hotel a:focus {
  color: #81b3d2;
}

.description-hotel a:active {
  opacity: 0.3;
}

.found-hotel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.all-found-hotels {
  background-color: #fefefe;
}

.found-hotel {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.found-hotel figure {
  margin: 0;
  /*margin-top: 30px;*/
}

.found-hotel h3 {
  margin: 0;
  /*margin-top: 30px;*/
}

.description-hotel {
  margin-left: 30px;
  margin-right: auto;
  min-width: 252px;
  background-color: rgba(15, 1, 255, 0.3);
}

.columns-container {
  display: flex;
}

.column-2 {

}

.description-hotel h3 {
  font-size: 21px;
  font-weight: 700;
}

.description-hotel p,
.rating {
  line-height: 21px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(15, 1, 255, 0.3);
}

.rating-nmb {

}
