body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 5px 15px 0 rgba(0,1,1,0.2);
}

.brown-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  /* font-size: 14px; */
  line-height: 21px;
  font-weight: 700;
  outline: none;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
  border: none;
  display: inline-block;
  vertical-align: top;
  /* height: 27px; */
  padding-left: 16px;
  padding-right: 16px;
}

.blue-button {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  display: inline-block;
  vertical-align: top;
}

.main-navigation {
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.nav-selected {
  color: #766357;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -71px;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation a {
  font-weight: 700;
  color: inherit;
}

.site-navigation li {
  flex-basis: 239px;
}

.site-navigation li:nth-child(4n + 1) {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(4n + 2) {
  text-align: left;
}

.site-navigation li:nth-child(4n + 3) {
  text-align: right;
  margin-left: 100px;
}

.site-navigation li:nth-child(4n + 4) {
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-logo {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 71px;
}

.welcome-sedona {
  position: relative;
  background-image: url("../img/bg/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center -82px;
  height: 508px;
  background-color: #3f86b0;
  background-size: cover;
  text-align: center;
}

.mask {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  height: 57px;
  left: 0;
  right: 0;
  background-image: url("../img/bg/intro-mask.svg");
}

.welcome-sedona img {
  margin-top: 76px;
  width: 459px;
  height: 353px;
}

.about-sedona {
  text-align: center;
  background-color: #ffffff;
  padding-top: 61px;
  padding-bottom: 56px;
}

.about-sedona h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 27px;
}

.about-sedona p {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-search {
  position: relative;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 57px;
  background-color: #ffffff;
}

.hotel-search h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hotel-search-text {
  margin: 0;
  padding: 0;
  margin-top: 23px;
  line-height: 24px;
  font-weight: 400;
}

.brown-button-big {
  font-size: 21px;
  margin-top: 45px;
  height: 88px;
  width: 568px;
}

.search-form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  margin-top: -57px;
  left: 50%;
  margin-left: -284px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  /* justify-content: center; */
  background-color: #ffffff;
  text-align: left;
  padding-top: 55px;
  padding-bottom: 40px;
  padding-left: 55px;
  padding-right: 55px;
  width: 458px;
  min-height: 300px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form-item {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  position: relative;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;      /*вдоль поперечной оси*/
}

.search-form-item input{
  width: 330px;
  margin-left: 9px;
  min-height: 36px;
  /* padding-right: 9px; */
  padding-left: 13px;
}

.search-form input::-webkit-outer-spin-button,      /* очистить стрелки из поля number  */
.search-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-form input::-webkit-clear-button {    /* очистить крестик из календаря*/
  display: none;
}

.input-calendar {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -11px;
  fill: #a9a9a9;
}

.people-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: green;
  min-height: 38px;
  margin-bottom: 50px;
  flex-grow: 1;
}

.people-counter-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 135px;
}

.people-counter input{
  width: 40px;
  min-height: 38px;
  text-align: center;
}

.people-counter label {
  /* margin-right: 40px; */
}

.people-counter button {
  outline: none;
  border: none;
  background-color: #f2f2f2;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #a9a9a9;
  font-size: 26px;
  font-weight: 800;
}

.hotel-search label {
  font-weight: 700;
}

.hotel-search input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  outline: none;   /* убрала голубую "браузерную" обводку пока элемент в фокусе*/
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.hotel-search input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.column-2 .brown-button {
  margin-top: 14px;
}

.blue-button-detail {
  height: 27px;
  margin-top: 14px;
  padding-left: 17px;
  padding-right: 17px;
}

.blue-button-big {
  font-size: 21px;
  /* margin-top: 55px; */
  padding-top: 17px;
  padding-bottom: 20px;
  width: 100%;
  /* padding-left: 196px;
  padding-right: 196px; */
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 132px;
  /*Здесь для РР нужно чуть левее сдвинуть контакты, и видимо из-за абсолютного позиционирования padding
  работает "наоборот" , задавая его увеличивается сама белая область футера (а на странице с гостиницами , где футер не абсолют - padding работает как нужно)*/
  padding-right: 101px;
  background-color: rgba(254, 254, 254, 0.9);
  min-height: 50px;
}

.index-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  width: 360px;
  padding: 0;
  margin: 0;
  margin-right: 160px;
  /* Временно для сетки */
  background-color: rgba(155, 55, 0, 0.3);
}

.footer-contacts a {
  color: #000000;
}

.footer-social-list {
  background-color: rgba(155, 10, 150, 0.3);
  text-align: center;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
  width: 300px;
  margin-left: 228px;
  text-align: center;
  align-self: center;
}

.footer-copyright path:hover,
.footer-copyright path:focus {
  fill: #81b3d2;
}

.footer-copyright path:active {
  fill: #bdbbbc
}

/* Для страницы sedona-hotels*/
.results {
  background-color: white;
}

.results h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.sorting-list h3,
.sorting-list li {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.sorting-list li {
  list-style: none;
}

.sorting-list a {
  color: #000000;
  opacity: 0.7;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list .sort-selected {
  color: #81b3d2;
  border: none;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: 0px;
}

.sorting-buttons path:hover,  /*при фокусе табом не становится черным*/
.sorting-buttons path:focus {
  fill: #000000;
}

.sorting-buttons path:active {
  fill: #81b3d2;
}

.filter-form legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  color: #ffffff;   /*уточнить цвет*/
}

.filter-form label {
  color: #ffffff;
}

.filter-form fieldset {
  border:0 none;
}

.description-hotel .name-hotel{
  color: #000000;
}

.description-hotel .name-hotel:hover,
.description-hotel .name-hotel:focus {
  color: #81b3d2;
}

.description-hotel .name-hotel:active {
  opacity: 0.3;
}

.found-hotel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.all-found-hotels {
  background-color: #fefefe;
}

.found-hotel {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 73px;
  padding-top: 25px;
  padding-bottom: 22px;
}

.found-hotel figure {
  margin: 0;
  padding-top: 5px;
  /*margin-top: 30px;*/
}

.found-hotel h3 {
  margin: 0;
  padding: 0;
  /*margin-top: 30px;*/
}

.description-hotel {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 7px;   /*это сделано т.к. большшой div "выходил за границы кнопок, не нашла каким способом его ограничить */
  min-width: 260px;
  background-color: lightblue;
}

.columns-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.column-1 {
  margin: 0;
  padding: 0;
  min-height: 36px;
  align-self: center;
  margin-right: 6px;
}

.description-hotel h3 {
  font-size: 21px;
  font-weight: 700;
}

.description-hotel p,
.rating {
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.description-hotel p {
  padding-top: 8px;
}

.rating {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.rating li {
  padding-left: 5px;
}

.rating p {
  margin: 0;
  background-color: #f2f2f2;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.rating-nmb {
  margin: 0;
}
